#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(/img/background.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255,255,255,0.8);
}
[data-theme="dark"] #recent-posts > .recent-post-item{
    background:rgba(0,0,0,.6);
} 

/* 首页侧栏卡片 */
.card-widget{
  background: rgba(255,255,255,0.8)!important;
}
[data-theme="dark"] .card-widget{
  background:rgba(0,0,0,.6)!important;
}

/* 文章页面正文背景 */
div#post{
  background: rgba(255,255,255,0.8);
}
[data-theme="dark"] div#post{
  background: rgba(0,0,0,.6);
}
/* 分页页面 */
div#page{
  background: rgba(255,255,255,0.8);
}
[data-theme="dark"] div#page{
  background: rgba(0,0,0,.6);
}

/* 归档页面 */
div#archive{
  background: rgba(255,255,255,0.8);
}
[data-theme="dark"] div#archive{
  background: rgba(0,0,0,.6);
}

/* 标签页面 */
div#tag{
  background: rgba(255,255,255,0.8);
}
[data-theme="dark"] div#tag{
  background: rgba(0,0,0,.6);
}

/* 分类页面 */
div#category{
  background: rgba(255,255,255,0.8);
}
[data-theme="dark"] div#category{
  background: rgba(0,0,0,.6);
}

#footer {
    background: rgba(255,255,255,0.8);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#footer::before {
    background: rgba(255,255,255,0.8)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}

/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 头图遮罩层透明 */
#page-header::before{
  background: transparent!important;
  }
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}

@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1#site-title {
  font-family: 'Candyhome', sans-serif;
}

h1.post-title {
  font-family: 'Candyhome';
}

@font-face{
  font-family:'fontbody' ;  /* 字体名自定义即可 */
  src:url('/fonts/body.ttc'); /* 字体文件路径 */
  font-display : swap;
}

body {
    font-family: 'fontbody';
}

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/arrow.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/input.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/i.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'),auto;
}

/* 引入Unicode和Font-class的线上资源 */
@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";

.iconfont {
font-family: "iconfont" !important;
font-size: 3em;
/* 可以定义图标大小 */
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
/* 若已经在项目设置中勾选了彩色选项，则无需再定义图标颜色*/
.icon-rat:before {
  color: #85c3de;
}
.icon-ox:before {
  color: #ffaf6e;
}
.icon-tiger:before {
  color: #f7c768;
}
.icon-rabbit:before {
  color: #ffbdd8;
}
.icon-dragon:before {
  color: #ff8787;
}
.icon-snake:before {
  color: #c3d686;
}
.icon-horse:before {
  color: #ffaf6e;
}
.icon-goat:before {
  color: #f7c768;
}
.icon-monkey:before {
  color: #c3d686;
}
.icon-rooster:before {
  color: #ff8787;
}
.icon-dog:before {
  color: #85c3de;
}
.icon-boar:before {
  color: #ffbdd8;
}

/* 分类目录条、标签目录条 */
#catalog-bar {
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  display: flex;
  border: var(--card-border);
  margin-bottom: 1rem;
  justify-content: space-between;
}

#catalog-bar:hover {
  border-color: var(--main);
}

#catalog-bar i {
  line-height: inherit;
}

#catalog-list {
  /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
  width: 100%;
  margin: 0 0.5rem;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

#catalog-list::-webkit-scrollbar {
  display: none;
}

.catalog-list-item a {
  padding: .3rem;
  font-weight: bold;
  border-radius: 8px;
  color: var(--font-color);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.catalog-list-item:hover a {
  background: var(--main);
  color: var(--second);
}

.catalog-list-item.selected a {
  background: var(--light-text);
  color: var(--second);
  border-radius: 8px;
}

a.catalog-more {
  min-width: fit-content;
  font-weight: bold;
  color: var(--font-color);
}

a.catalog-more:hover {
  color: var(--main);
}
